# SPDX-FileCopyrightText: 2020 Free Software Foundation Europe <contact@fsfe.org>
#
# SPDX-License-Identifier: CC0-1.0

# Local configuration
.env

# Created by Python running locally
__pycache__/

# Created by setup.py
build/
dist/
*.egg-info/

# Created by pytest
.pytest_cache/
.coverage
htmlcov

# Dev forms storage
store/
