# SPDX-FileCopyrightText: 2020 Free Software Foundation Europe <contact@fsfe.org>
# SPDX-FileCopyrightText: 2019 Florian Vuillemot <florian.vuillemot@fsfe.org>
#
# SPDX-License-Identifier: CC0-1.0

[[source]]
name = "PyPi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
filelock = "*"
flask = "*"
flask-limiter = "*"
gunicorn = "*"
redis = "*"
requests = "*"
webargs = "*"
py3-validate-email = {ref = "v1.0.9", git = "https://gitea.ksol.io/karolyi/py3-validate-email"}

[dev-packages]
fakeredis = "*"
isort = "*"
pylama = "*"
pytest = "*"
pytest-cov = "*"
pytest-flask = "*"
pytest-mock = "*"

[requires]
python_version = "3.9"
