[[source]]
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
bottle = "==0.12.13"
gunicorn = "==19.7.1"
redis = "*"
filelock = "==2.0.12"
Jinja2 = "==2.9.6"

[dev-packages]
fakeredis = "*"
pytest-cov = "*"
pytest-mock = "*"
webtest = "*"

[requires]
python_version = "3.6"
